---
pagination:
    data: collections.all
    reverse: true
    size: 5
    alias: posts

layout: layouts/main
eleventyExcludeFromCollections: true
---

{% for post in posts %}
    {% include "components/list_article.njk" %}
{% endfor %}

{% include "components/pagination.njk" %}