---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slugify }}/
layout: "layouts/main.njk"
eleventyExcludeFromCollections: true
---

{% set taglist = collections[ tag ] %}

<h2>{{ taglist | length }} Posts tagged “{{ tag }}”</h2>

{% for post in taglist | reverse %}
  {% include "components/list_article.njk" %}
{% endfor %}