
@import "reset.less";
@import "colors.less";
@import "variables.less";
@import "syntax-highlighting.less";
@import "fonts/open-sans.less";
@import "fonts/IBM-Plex.less";
@import "fonts/fork-awesome.less";

@sidebar_width: 11rem;

body {
    background-color: var(--col-background);
    color: var(--col-primary);
    font-family: 'Open Sans';
    .container {
        margin: 1.7rem auto;
        display: grid;
        grid-template-areas:". header ."
                            "left main right"
                            ". bottom1 ."
                            ". bottom2 .";
        grid-template-columns: 1fr fit-content(80ch) 1fr;
        grid-gap: 2rem;
        header {
            grid-area: header;
            margin-bottom: 3rem;
            a {
                display: flex;
                flex-direction: row;
                .cp-logo {
                    max-width: 3.6rem;
                    margin-right: 1.5rem;
                }
                h1 {
                    font-size: 2.5rem;
                    line-height: 170%;
                }
                @media screen and (max-width: 340px) {
                    align-content: left;
                    flex-direction: column;
                }
            }
            a.back-home {
                display: block;
                margin-bottom: 1rem;
            }
        }
        #content {
            margin: 0 auto;
            text-align: left;
            grid-area: main;
            min-width: 0;
            max-width: 100%;
        }
    }
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2em;
}

h2 {
    margin-bottom: 0.5rem;
}

a {
    color: var(--col-link);
    text-decoration: none;
    &:visited {
        color: var(--col-link-vis);
    }
}

a.tag {
    background-color: var(--col-tag);
    padding: 0.01rem 0.4rem;
    color: var(--col-primary);
    border-radius: @radius;
}

.sidebar_pill() {
    color: var(--col-primary);
    background-color: var(--col-brand-fade);
    padding: 0.2rem 0.5rem;
    line-height: 2.3em;
    border-radius: @radius;
}

a.btn {
    padding: 1rem;
    border-radius: @radius_L;
    text-decoration: none;
    margin: 1rem 0;
    display: inline-block;
    text-decoration: none !important;
    background-color: var(--col-link);
    color: var(--col-background);
    box-shadow: @cryptpad_ui_shadow;
}

#top-tags {
    grid-area: left;
    min-width: @sidebar_width;
    h3 {
        text-align: right;
    }
    ul {
        text-align: right;
        li {
            display: block;
            a.tag {
                .sidebar_pill();
                border-radius: @radius 0 0 @radius;
            }
            .count {
                .sidebar_pill();
                background-color: var(--col-primary-fade);
                border-radius: 0 @radius @radius 0;
            }
        }
    }
    .toptags-in-footer() {
        grid-area: bottom1;
        h3, ul{
            text-align: left;
            li {
                display: inline-block;
            }
        }
    }
    &.post { // on post pages
        .toptags-in-footer();
    }
    @media screen and (max-width: @screen_S) {
        .toptags-in-footer();
    }
}

#social {
    grid-area: right;
    min-width: @sidebar_width;
    ul {
        margin-bottom: 2rem;
    }
    a {
        .sidebar_pill();
        i {
            width: 1rem;
            margin-right: 0.2rem;
        }
    }
    .social-in-footer() {
        grid-area: bottom2;
    }
    &.post { // on post pages
        .social-in-footer();
        li {
            display: inline-block;
        }
    }
    @media screen and (max-width: @screen_S) {
        .social-in-footer();
        li {
            display: inline-block;
        }
    }
}

article.list {
    margin-bottom: 1rem;
    background-color: var(--col-card);
    padding: 1rem;
    border-radius: @radius_L;
    img {
        width: 100%;
        max-height: 15rem;
        object-fit: cover;
        object-position: center center; // center top
        border-radius: @radius;
    }
    .summary {
        margin-bottom: 0.8rem;
    }
    .meta-info {
        line-height: 180%;
        display: inline;
    }
    .article-tags {
        margin-left: 1rem;
    }
}

.pagination {
    text-align: center;
    line-height: 180%;
    ol {
        li {
            display: inline;
            background-color: var(--col-card);
            padding: 0.5rem;
            border-radius: @radius;
            font-size: 1.2em;
            line-height: 4em;
        }
    }
}

article.post {
    margin-bottom: 8rem;
    .header {
        margin-bottom: 3rem;
    }
    h1 {
        margin-bottom: 0.5rem;
    }
    h2 {
        margin: 2rem 0 0.5rem 0;
    }
    h3 {
        margin: 1rem 0 0.5rem 0;
    }
    p {
        font-size: 1.1em;
        margin-bottom: 1rem;
        a {
            text-decoration: underline;
        }
        img {
            display: block;
            margin: auto;
        }
    }

    ul {
        &:not(.tags) {
            list-style: disc;
        }
    }
    ol {
        list-style-type: decimal;
    }

    ul, ol {
        &:not(.tags) {
            padding-left: 1em;
            margin-bottom: 1rem;
            li {
                a {
                    text-decoration: underline;
                }
                ul {
                    list-style: circle;
                    margin-bottom: 0px; // nested lists
                }
                p {
                    margin-top: 1rem;
                }
            }
        }
    }
    iframe {
        margin: 1rem 1rem 1rem 0;
    }
    table {
        width: 100%;
        margin-bottom: 1rem;
        th {
            background-color: var(--col-primary-fade);
        }
        tr:nth-child(even) {
            background: var(--col-primary-fade);
        }
        th, td {
            padding: 0.5rem;
        }
    }
    blockquote {
        border-left: 1px solid;
        margin-left: 2rem;
        padding-left: 1rem;
        opacity: 0.7;
    }
}

.article-tags {
    display: inline;
    i {
        margin-right: 0.5rem;
    }
    ul {
        list-style: none;
        display: inline;
        li {
            display: inline-block;
        }
    }
}

.article-pagination {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    a {
        background-color: var(--col-card);
        border-radius: @radius;
        padding: 0.2rem 0.7rem;
        color: var(--col-primary);
        max-width: 40%;
        .title {
            color: var(--col-link);
        }
    }
}

section.footnotes {
    font-size: 0.75em;
    ol {
        li {
            &::before {
                content: unset;
            }
        }
    }
}
