
@import "reset.less";
@import "colors.less";
@import "fonts/open-sans.less";
@import "fonts/IBM-Plex.less";

@radius: .5rem;
@radius_L: 0.8rem;

:root {
    --col-background: @cryptpad_color_grey_100;
    --col-primary: @cryptpad_color_grey_900;
    --col-link: @cryptpad_color_brand;
    --col-link-vis: fade(@cryptpad_color_brand, 50%);
    --col-card: @cryptpad_color_grey_200;
    --col-tag: @cryptpad_color_grey_300;
    --col-tag-fg: @cryptpad_color_grey_900;
}

@media (prefers-color-scheme: dark) {
	:root {
        --col-background: @cryptpad_color_grey_900;
        --col-primary: @cryptpad_color_grey_200;
        --col-link: @cryptpad_color_brand_300;
        --col-link-vis: fade(@cryptpad_color_brand_300, 80%);
        --col-card: @cryptpad_color_grey_850;
        --col-tag: @cryptpad_color_grey_700;
        --col-tag-fg: @cryptpad_color_grey_200;
    }
}

body {
    background-color: var(--col-background);
    color: var(--col-primary);
    text-align: center;
    font-family: 'Open Sans';
    .container {
        margin: 2rem auto;
        text-align: left;
        max-width: 70ch;
        nav {
            margin-bottom: 5rem;
        }
        // main {

        // }
    }
}

h1 {
    font-size: 2.5rem;
}

a {
    color: var(--col-link);
    text-decoration: none;
    &:visited {
        color: var(--col-link-vis);
    }
}

a.tag {
    background-color: var(--col-tag);
    padding: 0.01rem 0.4rem;
    color: var(--col-primary);
    border-radius: @radius;
}

article.list {
    margin-bottom: 2rem;
    background-color: var(--col-card);
    padding: 1rem;
    border-radius: @radius_L;
    img {
        width: 100%;
        max-height: 15rem;
        object-fit: cover;
        border-radius: @radius;
    }
    .meta-info {
        margin-top: 0.5rem;
        line-height: 180%;
    }
}

.pagination {
    text-align: center;
    line-height: 180%;
    ol {
        li {
            display: inline;
            background-color: var(--col-card);
            padding: 0.5rem;
            border-radius: @radius;
            font-size: 1.2em;
            line-height: 4em;
        }
    }
}


