<article class="list">
    <a href="{{ post.url }}" >
        {% if post.data.cover %}
            <img src="{{ post.data.cover }}" aria-hidden="true"></img>
        {% endif %}
        <h2>{{ post.data.title }}</h2>
    </a>
    {% if post.data.summary %}
        <p class="summary">{{ post.data.summary}}</p>
    {% endif %}
    <p class="meta-info">
        {{ post.date | postDate }}
    </p>
    <i class="fa fa-tags" aria-hidden="true"></i>
    <ul aria-label="Tags">
    {% for tag in post.data.tags %}
        <li><a class="tag" href="/tags/{{ tag | slugify }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
</article>
