<h3><i class="fa fa-link" aria-hidden="true"></i> Links</h3>
<ul>
    <li>
        <a href="https://cryptpad.org">
            <i aria-hidden="true" class="fa fa-globe"></i>Project website
        </a>
    </li>
    <li>
        <a href="https://opencollective.com/cryptpad/contribute">
            <i aria-label="OpenCollective" class="fa fa-open-collective"></i>Donate
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="https://forum.cryptpad.org">
            <i aria-hidden="true" class="fa fa-bullhorn"></i>Forum
        </a>
    </li>
    <li>
        <a href="https://matrix.to/#/#cryptpad:matrix.xwiki.com">
            <i aria-hidden="true" class="fa fa-matrix-org"></i>Chat (Matrix)
        </a>
    </li>
    <li>
        <a rel="me" href="https://fosstodon.org/@cryptpad">
            <i aria-hidden="true" class="fa fa-mastodon"></i>Mastodon
        </a>
    </li>
    <li>
        <a href="https://peertube.xwiki.com/c/cryptpad_channel/videos">
            <i aria-hidden="true" class="fa fa-peertube"></i>Peertube
        </a>
    </li>
    <li>
        <a href="https://pixelfed.social/cryptpad_design">
            <i aria-hidden="true" class="fa fa-pixelfed"></i>Pixelfed
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="/atom.xml">
            <i aria-hidden="true" class="fa fa-rss"></i>RSS Feed
        </a>
    </li>
</ul>