<h3><i class="fa fa-tags" aria-hidden="true"></i> Top Tags</h3>
<ul>
{% for tag in collections | topTags %}
    <li>
        <a class="tag" href="/tags/{{tag.name | slugify }}">{{ tag.name }}</a><span class="count">{{tag.count}}</span></li>
{% endfor %}
</ul>