<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title></title> {# XXX TODO: add page title #}
    {% import "components/seo.njk" as seo %}

    {% block head %}
        {{ seo.og_tags(
            title=site.title,
            url=site.url,
            desc=site.summary,
            image= site.url + site.image
        ) }}
    {% endblock %}

    <link rel="alternate" href="/atom.xml" title="CryptPad Blog" type="application/atom+xml">

    <link rel="icon" href="/favicon.png">


</head>

<body>
    <div class="container">
        <nav class="main">
            <a href="/">
                <img class="cp-logo" src="/theme/CryptPad_logo.svg" alt="CryptPad Logo">
                <h1>CryptPad Blog</h1>
            </a>
        </nav>
        <main>
            {# XXX TODO TBC: side bar with: archives by year, top tags, ... #}
            {% block toptags %}
            <section id="top-tags" class="home">
            {% endblock %}
                <h3>Top Tags</h3>
                <ul>
                    {% for tag in collections | topTags %}
                        <li><a class="tag" href="/tags/{{tag.name | slugify }}">{{ tag.name }}</a><span class="count">{{tag.count}}</span></li>
                    {% endfor %}
                </ul>
            </section>
            <section id="content">
                {% block content %}
                {{ content | safe }}
                {% endblock %}
            </section>
            {% block social %}
                <section id="social" class="home">
            {% endblock %}
                {# XXX TODO: links to .org site, forum, chat, social media, RSS feed #}
                <ul>
                    <li>RSS</li>
                    <li>Mastodon</li>
                </ul>
            </section>
        </main>
    </div>
</body>

</html>