<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title></title> {# XXX TODO: add page title #}
    {% import "components/seo.njk" as seo %}

    {% block head %}
        {{ seo.og_tags(
            title=site.title,
            url=site.url,
            desc=site.summary,
            image= site.url + site.image
        ) }}
    {% endblock %}

    <link rel="alternate" href="/atom.xml" title="CryptPad Blog" type="application/atom+xml">

    <link rel="icon" href="/favicon.png">


</head>

<body>
    <div class="container">
        <nav class="main">
            <a href="/">
                <img class="cp-logo" src="/theme/CryptPad_logo.svg" alt="CryptPad Logo">
                <h1>CryptPad Blog</h1>
            </a>
            {# XXX TODO: links to .org site, social media, RSS feed #}
        </nav>
        <main>
            {# XXX TODO TBC: side bar with: archives by year, top tags, ... #}
            {% block content %}
            {{ content | safe }}
            {% endblock %}
        </main>
    </div>
</body>

</html>