<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>{% block pagetitle %}{% endblock %}CryptPad Blog</title> {# XXX TODO: add page title #}
    {% import "components/seo.njk" as seo %}

    {% block head %}
        {{ seo.og_tags(
            title=site.title,
            url=site.url,
            desc=site.summary,
            image= site.url + site.image
        ) }}
    {% endblock %}

    <link rel="alternate" href="/atom.xml" title="CryptPad Blog" type="application/atom+xml">

    <link rel="icon" href="/favicon.png">


</head>

<body>
    <main class="container">
        <header>
            <a href="/">
                <img class="cp-logo" src="/theme/CryptPad_logo.svg" alt="Logo">
                <h1>CryptPad Blog</h1>
            </a>
        </header>
        {% block toptags %}
        <section id="top-tags" class="home">
        {% endblock %}
            {% include "components/top-tags.njk" %}
        </section>
        <section id="content">
            {% block content %}
            {{ content | safe }}
            {% endblock %}
        </section>
        {% block social %}
            <section id="social" class="home">
        {% endblock %}
            {% include "components/social-links.njk" %}
        </section>
    </main>
</body>

</html>