
{% set previousPost = collections.all | getPreviousCollectionItem(page) %}
{% set nextPost = collections.all | getNextCollectionItem(page) %}

{% extends "layouts/main.njk" %}

{% block pagetitle %}{{ title }} | {% endblock %}

{% if cover %}
    {% set cover = cover %}
{% else %}
    {% set cover = site.image %}
{% endif %}

{% block head %}
    {{ seo.og_tags(
        title= title,
        url= site.url + page.url,
        desc= summary,
        image= site.url + cover
    ) }}
{% endblock %}

{% block toptags %}
<section id="top-tags" class="post">
{% endblock %}

{% block content %}
    <article class="post">
        <section class="header">
            <h1>{{title}}</h1>
            <p class="meta">
                {% if author %}
                    {{ author }} -
                {% endif %}
                {{ date | postDate }}
                    {# XXX TODO TBC add Mastodon share button? #}
                    {# https://github.com/Aly-ve/Mastodon-share-button #}
            </p>
            {% include "components/article-tags.njk" %}
        </section>
        {{ content | safe }}
    </article>

    <nav class="article-pagination" aria-label="Pagination">
        {% if nextPost %}
            <a href="{{ nextPost.url }}">Newer: <span class="title">{{ nextPost.data.title }}</span></a>
        {% endif %}
        {% if previousPost %}
            <a href="{{ previousPost.url }}">Older: <span class="title">{{ previousPost.data.title }}</span></a>
        {% endif %}
    </nav>
{% endblock %}

{% block social %}
    <section id="social" class="post">
{% endblock %}
